
<div id="<?$_name?>">
	<?rows?>
	<?row?>
	<div class="ui-widget-content ui-corner-all main-block">
		<div class=" row ui-widget-content header">
		<div class="col-sm-9 company_name"><h2><?name?>Company Name<?/name?></h2></div>
		<div class="col-sm-2 btn btn-primary" onclick="<?$more?>">More <?$Relevance?></div>
		</div>
		<div class="row main-block-body">
			<div class="buisness_listing_logo col-sm-4" >
				<div  class="well" align="center"><h1><img src="<?$company_logo?>" alt="Your Picture Here "/></h1></div>
			</div>
	<div class="col-sm-8" >
		<div class="row">
			<div class="col-sm-12" >
				<div class="row">
					<div class="col-sm-4 info-title">Name</div>
					<div class="col-sm-8 info-vlaue"><?name?>name<?/name?></div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">Father's Name</div>
					<div class="col-sm-8 info-vlaue"><?father_name?>father_name<?/father_name?></div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">Mobile No</div>
					<div class="col-sm-8 info-vlaue"><?mobile_no?>mobile_no<?/mobile_no?></div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">Email</div>
					<div class="col-sm-8 info-vlaue"><?email?>email <?/email?></div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">Address</div>
					<div class="col-sm-8 info-vlaue"><?address?>address <?/address?></div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">About</div>
					<div class="col-sm-8 info-vlaue"><?short_description?>short_description <?/short_description?></div>
				</div>
				</div>
			</div>
		</div>
		</div>

	</div>	
	<?/row?>
	<?/rows?>
	<?$paginator?>
</div>