<div id="<?$_name?>" class="carousel slide">
  <div class="carousel-inner">
    <?rows?>
    <?row?>
    <div class="item <?active?>active<?/active?>">
      <a href="<?click_url?>#<?/click_url?>" <?target?>target="_blank"<?/target?>>
        <img class="add-image" src="<?ad_image?>OOps<?/ad_image?>" height= "<?height?>200<?/height?>px;"/></a>
    </div>
    <?/row?>
    <?/rows?>
  </div>
</div>
<style type="text/css">
  .well{
    padding: 0px;
  }
  .add-image{
    width: 100%;
  }

  .slide{
    margin-bottom: 2px;
    border: 5px solid gray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .fill{
    background-size: 100%;
  }
</style>