<div id="<?$_name?>" class="carousel slide">
  <div class="carousel-inner">
    <?rows?>
    <?row?>
    <div class="item <?active?>active<?/active?>">
      <a href="<?click_url?>#<?/click_url?>" <?target?>target="_blank"<?/target?>>
        <img class="add-image" src="<?ad_image?>OOps<?/ad_image?>" height= "<?height?>200<?/height?>px;"/></a>
    </div>
    <?/row?>
    <?/rows?>
  </div>
</div>
<style type="text/css">
  .well{
    padding: 0px;
  }
  .add-image{
    width: 100%;
  }

  .slide{
    margin-bottom: 5px;
    border-color: #9ecaed;
    box-shadow: 0 0 10px blue;
    /*border: 3px solid lightgray  ;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*box-shadow: 0 0 10px #lightgray;*/
  }

  .fill{
    background-size: 100%;
  }
</style>