<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
          	
		        <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active current_menu_class " id="sb24_menu_i0"><a href="/">Home</a></li>
		        
		        <li class="dropdown menu_class">
		        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Free Listing <b class="caret"></b></a>
		        	 <ul class="dropdown-menu menu_class">
			          <li><a href="/?page=businessdirectory_page_search&reset=1&search=<?$search?>">Business</a></li>
			          <li><a href="/?page=socialdirectory_page_search&reset=1&search=<?$search?>">Telephone Directory</a></li>
			          <li><a href="/?page=jobandvacancy_page_search&reset=1&search=<?$search?>">Job And Vacancy</a></li>
			          <li><a href="/?page=salesandpurchase_page_search&reset=1&search=<?$search?>">Sales And Purchase</a></li>
			          <!-- <li class="divider"></li>
			          <li class="divider"></li>
			          <li><a href="#">One more separated link</a></li> -->
			        </ul>
		        </li>
		        <li class="menu_class" id="sb24_menu_i1"><a href="/?page=history_page_search&reset=1&search=<?$search?>">History</a></li>
		        
		        <li class="menu_class" id="sb24_menu_i5"><a href="/?page=distance_page_search&reset=1&search=<?$search?>">Distance</a></li>
		        
		        <li class="menu_class" id="sb24_menu_i6"><a href="/?page=tracker_page_search&reset=1&search=<?$search?>">Tracker</a></li>
		        
		        <li class="menu_class" id="sb24_menu_i7"><a href="/?page=emergency_page_search&reset=1&search=<?$search?>">Emergency Numbers</a></li>
		        
		        <li class="menu_class" id="sb24_menu_i8"><a href="/?page=event_page_search&reset=1&search=<?$search?>">Events</a></li>
		        
		        <li class="menu_class" id="sb24_menu_i10"><a href="/?page=blooddoner_page_serach&reset=1&search=<?$search?>">Blood Doner</a></li>

		        <li class="menu_class" id="sb24_menu_i11"><a href="?page=contact">Contact Us</a></li>
		        
		        <li class="menu_class" id="sb24_menu_i12"><a href="/?page=memberpanel_page_dashboard&reset=1&search=<?$search?>">My Account</a></li>
		        
          </ul>
        </div><!-- /.navbar-collapse -->
    </nav>