<style type="text/css">
	.buisness_listing_logo img{
		width:150px;
		height:80px;
	}
	.buiness_listing_company_name h2{
		text-align: center;

	}
	.business_listing_left{
	float: left;
	padding-left: 40px;
	width:25%;
	}

</style>



<div id="<?$_name?>" class="xyz">
	<?rows?>
	<?row?>
	<div class="ui-widget-content ui-corner-all">
		<div class=" row ui-widget-content ">
		<div class="col-sm-9"><h2><?name?>Company Name<?/name?></h2></div>
		<div class="col-sm-2 btn btn-primary" onclick="<?$more?>">More</div>
		</div>
		<div class="row">
			<div class="buisness_listing_logo col-sm-4" >
				<div  class="well" align="center"><img src="<?$company_logo?>"/></div>
			</div>
			<div class="buisness_listing_labal col-sm-4" >
				<div><?designation?>designation<?/designation?> :</div>
				<div>Mobile Number :</div>
				<div>Ph No :</div>
				<div>Type Of Work :</div>
				<div>Email :</div>
				<div>Addres :</div>
			</div>
			<div class="buisness_listing_value col-sm-4">
				<div><?contact_person?>contact_person<?/contact_person?></div>
				<div><?mobile_no?>Mobile Number<?/mobile_no?></div>
				<div><?ph_no?>Ph No <?/ph_no?></div>
				<div><?type_of_work?>Type Of Work<?/type_of_work?></div>
				<div><?email?>Email<?/email?></div>
				<div><?address?>Addres <?/address?></div>
			</div>
		</div>

	</div>
	<?/row?>
	<?/rows?>

</div>