<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Xavoc Technocrats Pvt. Ltd., Global Branch, UK">

    <title><?page_title?>Sab Kuch 24<?/page_title?></title>

  
    <link rel="stylesheet" type="text/css" href="<?template?>css/atk-icons.css<?/?>" />
    <link rel="stylesheet" type="text/css" href="<?template?>css/jquery-ui.css<?/?>" />
    <link rel="stylesheet" type="text/css" href="<?template?>css/atk-main.css<?/?>" />
    <link rel="stylesheet" type="text/css" href="<?template?>css/atk-custom.css<?/?>" />
    <!-- Bootstrap core CSS -->
    <link href="<?template?>css/bootstrap.css<?/template?>" rel="stylesheet"/>

    <!-- Add custom CSS here -->
    <link href="<?template?>css/modern-business.css<?/template?>" rel="stylesheet"/>
    <link href="<?template?>font-awesome/css/font-awesome.min.css<?/template?>" rel="stylesheet"/>

    <link href="<?template?>css/sb24.css<?/template?>" rel="stylesheet"/>
    <?$js_include?>
    <!--[if IE 8]>
      <link rel="stylesheet" type="text/css" href="<?template?>css/ie8.css<?/?>"/>
      <script type="text/javascript" src="<?template?>css/ie8.js<?/?>"></script>
    <![endif]-->
    <script type="text/javascript">
      $(function(){
        <?$document_ready?>
      });
    </script>
    <?body_margin?>
      <style type="text/css">
        body{
          margin-top: 140px;
        }
      </style>
    <?/body_margin?>
  </head>

  <body>
    <?$Menu?>
    <!-- Top Adertising Spot Begin -->
    <?top_advert_position?>
    <div class="row top_ad_block_outer">
      <div class="container">
        <div class="row well"><?$top_advert_spot?></div>
      </div>
    </div>
    <?/top_advert_position?>
    <!-- Top Advertising Spot end -->
    <div class="row">
      <?left_advert_position?>
        <div class="col-md-2 well"><?$left?></div>
      <?/left_advert_position?>
      <?center_position?>
        <div  class="col-md-<?center_span?>8<?/center_span?> content <?content_class?>main-content main  <?shrink?>shrink<?/shrink?> ui-widget-content ui-corner-all<?/content_class?>"><?$Content?></div>
      <?/center_position?>
      <?right_advert_position?>
        <div class="col-md-2 well"><?$right?></div>
      <?/right_advert_position?>
    </div>
    <footer>
    <div class="row" align="center">
      <div class="col-lg-6" align="right"><a >--X--</a></div>
      <div class="col-lg-6" align="left"><?$visitor?></div>
    </div>
    </footer>
    <script src="<?template?>js/bootstrap.js<?/?>"></script>
    <script src="<?template?>js/modern-business.js<?/?>"></script>
    <script type="text/javascript">
	    var bootstrapButton = $.fn.button.noConflict() // return $.fn.button to previously assigned value
		$.fn.bootstrapBtn = bootstrapButton            // give $().bootstrapBtn the Bootstrap functionality
    </script>
  </body>
</html>