<div id="<?$_name?>" class="xyz">
	<?rows?>
	<?row?>
	<div class="ui-widget-content ui-corner-all main-block">
		<div class=" row ui-widget-content header">
		<div class="col-sm-9 company_name"><h2>Name of The Product :<?name?>Product Name<?/name?></h2></div>
		<div class="col-sm-1 btn shine1" onclick="<?$more?>">More <?$Relevance?></div>
		</div>
		<div class="row main-block-body">
			<div class="buisness_listing_logo col-sm-4" >
				<div  class="well" align="center"><h1><img src="<?$product_image_1?>" alt="Your Product pic Logo "/></h1></div>
			</div>
	<div class="col-sm-8" >
		<div class="row">
			<div class="col-sm-12" >
				<div class="row">
					<div class="col-sm-4 info-title">Name Of The Product</div>
					<div class="col-sm-8 info-vlaue"><?name?>name<?/name?></div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">Product Price</div>
					<div class="col-sm-8 info-vlaue"><?price?>price<?/price?></div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">Contact Person</div>
					<div class="col-sm-8 info-vlaue"><?member?>member_name<?/member?></div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">Contact Number</div>
					<div class="col-sm-8 info-vlaue"><?mobile_number?>mobile_number<?/mobile_number?></div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">State</div>
					<div class="col-sm-8 info-vlaue"><?state?>state<?/state?>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">City</div>
					<div class="col-sm-8 info-vlaue"><?city?>city<?/city?>
					</div>
					<div class="row">
					<div class="col-sm-4 info-title">About Product</div>
					<div class="col-sm-8 info-vlaue"><?short_description?>short_description<?/short_description?>
					</div>
				</div>
				
				</div>
			</div>
		</div>
		</div>
		</div>

	</div>
	<?/row?>
	<?/rows?>
<?$paginator?>
<?not_found?>
    <div class="atk-grid-notfound ui-state-highlight ui-corner-all clearfix"><i class="ui-icon ui-icon-alert float-left"></i><h3><?not_found_message?>No Records Found<?/?></div>
  <?/not_found?></h3>
</div>