nav ul li{
	margin-bottom: 0em;
}

.navbar {
	min-height: 40px;
}

.navbar-nav > li > a {
	padding-top: 7px;
	padding-bottom: 7px;
}

body{
	background: url('../images/bg-body.jpg');
}

.navbar-inverse .navbar-nav > li.current_menu_class > a, .navbar-inverse .navbar-nav > li.menu_class > a:hover{
  color: red;
}

.navbar-inverse .navbar-nav > li.menu_class > a {
  color: black;
}

.navbar-inverse {
  background-color: #FFFFFF;
}

.main-content{
	background-color: white;
	padding: 20px;
  margin-left: .25%;
  margin-right: .25%;
}

.shrink{
  width: 66.0%;
}

form .prev, form .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
        form .prev:hover,form .next:hover { background-color:#000; text-decoration:none;}
        form .prev { float:left;}
        form .next { float:right;}
        #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
        #steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
        #steps li span {font-size:11px; display:block;}
        #steps li.current { color:#000;}

  .span5 center{
  	margin-left: 8.5%;
  	margin-top: 190px;
  }

  .row{
    margin-left: 0px;
    margin-right: 0px;

  }

  .main{
   background-image:  -webkit-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -moz-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -ms-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -o-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  linear-gradient(right bottom, #FFFFFF 0%, #FFDDAB 100%);
   margin-bottom: 5px;
    border-color: #9ecaed;
    box-shadow: 0 0 10px red;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .mybutton button{
    height: 33px;
    margin: 14px 241px;
    width: 307px;
  }


  
  .ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a{
  color:red;

} 

.ui-tabs .ui-tabs-nav li a{
font-weight: bold;  
font-size: 1.2em;
}

.buisness_listing_logo img{
  max-width:100%;
  max-height:150px;
}

 /*.business_listing_left{
  float: left;
  padding-left: 40px;
  width:25%;
  }*/

.main-block{
  /*color:red;*/
  border:5px solid #E9CBCB;
    padding-bottom: 10px;
      /*border-color: pink;*/
    box-shadow: 0 0 15px white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.header h2{
  color: red;
}

.info-title{
  color:red;
}
.main-block{

  -moz-linear-gradient(right bottom , #F0F0FE 0%, #F7CAAA 100%)

background: #9ecaed; /* Old browsers */
background-image:  -webkit-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -moz-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -ms-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -o-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  linear-gradient(right bottom, #FFFFFF 0%, #FFDDAB 100%); 
}
.main-block:hover{

background: #9ecaed; /* Old browsers */
background-image:  -webkit-linear-gradient( right bottom , #F0F0FE 0%, #F7CAAA 100%);
   background-image:  -moz-linear-gradient( right bottom , #F0F0FE 0%, #F7CAAA 100%);
   background-image:  -ms-linear-gradient( right bottom , #F0F0FE 0%, #F7CAAA 100%);
   background-image:  -o-linear-gradient( right bottom , #F0F0FE 0%, #F7CAAA 100%);
   background-image:  linear-gradient(right bottom , #F0F0FE 0%, #F7CAAA 100%); 

}

.top_ad_block_outer{
  /* fixed position a zero-height full width container */
    position: fixed;
    top: 40px; /* or whatever position is desired */
    left: 0;
    right: 0;
    height: 120px;
    padding-top: 8px;
    width:100%;
    background: #7db9e8; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #7db9e8 0%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7db9e8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #7db9e8 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #7db9e8 0%,#1e5799 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #7db9e8 0%,#1e5799 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #7db9e8 0%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    /* center all inline content */
    text-align: center;
    z-index: 10;
}

.col{
  border-left: 2px solid lightgray;
  padding-right: 15px;
}
.top_ad_block_outer > div {
    /* make the block inline */
    display: inline-block;
    /* reset container's center alignment */
    text-align: left;
} 

.right-front-page-col{
/*margin-left:36.5% !important;*/
border-left: 5px solid black;
padding:7px 19px 2px 5px;
background-color:white;
border:10px solid burlywood;
box-shadow: 0 0 15px white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
border-radius:40px;

}

.atk-form-field ins{
  color:red !important;
}
.shine{
     background:burlywood;
  background:-moz-linear-gradient(top,burlywood 0%,burlywood 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,burlywood),color-stop(100%,burlywood));
  background:-webkit-linear-gradient(top,burlywood 0%,burlywood 100%);
  background:-o-linear-gradient(top,burlywood 0%,burlywood 100%);
  background:-ms-linear-gradient(top,burlywood 0%,burlywood 100%);
  background:linear-gradient(top,burlywood 0%,burlywood 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='burlywood',endColorstr='#burlywood',GradientType=0);
  padding:4px 10px;
  color:white;
  font-family:'comic-sans',comic-sans;
  font-size:20px;
  font-weight:bold;
  border:2px solid white;
 box-shadow: 0 0 15px white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*border-radius: 5px;*/
border-radius:13px 13px 13px 13px;
}
.shine1{
     background: rgba(183,222,237,1);
background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(50%, rgba(113,206,239,1)), color-stop(51%, rgba(33,180,226,1)), color-stop(100%, rgba(183,222,237,1)));
background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0 );
  padding:10px 10px;
  color:white;
  font-family:'comic-sans',comic-sans;
  font-size:20px;
  font-weight:bold;
  border:2px solid white;
 box-shadow: 0 0 15px white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*border-radius: 5px;*/
border-radius:13px 13px 13px 13px;
}

.shine1:hover{
  background: rgba(71,170,209,1);
background: -moz-linear-gradient(top, rgba(71,170,209,1) 0%, rgba(23,161,211,1) 50%, rgba(20,122,153,1) 51%, rgba(71,170,209,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71,170,209,1)), color-stop(50%, rgba(23,161,211,1)), color-stop(51%, rgba(20,122,153,1)), color-stop(100%, rgba(71,170,209,1)));
background: -webkit-linear-gradient(top, rgba(71,170,209,1) 0%, rgba(23,161,211,1) 50%, rgba(20,122,153,1) 51%, rgba(71,170,209,1) 100%);
background: -o-linear-gradient(top, rgba(71,170,209,1) 0%, rgba(23,161,211,1) 50%, rgba(20,122,153,1) 51%, rgba(71,170,209,1) 100%);
background: -ms-linear-gradient(top, rgba(71,170,209,1) 0%, rgba(23,161,211,1) 50%, rgba(20,122,153,1) 51%, rgba(71,170,209,1) 100%);
background: linear-gradient(to bottom, rgba(71,170,209,1) 0%, rgba(23,161,211,1) 50%, rgba(20,122,153,1) 51%, rgba(71,170,209,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47aad1', endColorstr='#47aad1', GradientType=0 );
  border:5px solid white;
 box-shadow: 0 0 15px white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*border-radius: 5px;*/
border-radius:13px 13px 13px 13px;
}

.atk-form .atk-buttons, .atk-form .legend{
  padding-left: 0px;
}
.info_btn{  
/*background: rgba(164,179,87,1);
background: -moz-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
background: -webkit-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -o-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -ms-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: linear-gradient(to bottom, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=0 );
padding:10px 25px;
  color:white;
  font-family:'comic-sans',comic-sans;
  font-size:20px;
  font-weight:bold;
  border:2px solid white;
 box-shadow: 0 0 15px white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*border-radius: 5px;
border-radius:40px;*/*/
        
        -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
        -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
        box-shadow:inset 0px 1px 0px 0px #caefab;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
        background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
        background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
        background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
        background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
        background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
        
        background-color:#77d42a;
        
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        
        border:1px solid #268a16;
        
        display:inline-block;
        color:#306108;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:9px 24px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #aade7c;
        
    }
    .info_btn:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
        background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
        background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
        background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
        background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
        background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
        
        background-color:#5cb811;
    }
    .info_btn:active {
        position:relative;
        top:1px;
    }
}

.top_left_image {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transform: translate(-10px, 0px);
  -moz-transform: translate(-10px, 0px);
  -ms-transform: translate(-10px, 0px);
  -o-transform: translate(-10px, 0px);
  transform: translate(-10px, 0px);
  max-width: 100%;
}
.top_left_image:hover,
.top_left_image:focus {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transform: translate(10px, 0px);
  -moz-transform: translate(10px, 0px);
  -ms-transform: translate(10px, 0px);
  -o-transform: translate(10px, 0px);
  transform: translate(10px, 0px);
  max-width: 120%;
}


.highlight{
}

input[type="text"], input[type="password"], input[readonly], textarea, div.atk-form-field-readonly  {
/*    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    font-family: "Helvetica Neue","Helvetica","sans-serif";
    font-size: 12px;
    line-height: 1.4;
    padding: 0.4em;
    resize: none;
    transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s;*/
  border-color: #00aaff;
  -webkit-box-shadow: 0 0 3px rgba(0, 170, 255, 0.7), 0 0 10px rgba(0, 170, 255, 0.30000000000000004);
  -moz-box-shadow: 0 0 3px rgba(0, 170, 255, 0.7), 0 0 10px rgba(0, 170, 255, 0.30000000000000004);
  box-shadow: 0 0 3px rgba(0, 170, 255, 0.7), 0 0 10px rgba(0, 170, 255, 0.30000000000000004);
  outline: none;
}
.top_ad_block_outer .carousel-inner > .item > a > img{
display: block;
height: 100px;
line-height: 1;
max-width: 100%;
  
}

.atk-form-row label{
  font-size: 1.2em;
}

.cap{
  text-transform: uppercase;
}

div.gallary-image{
  border: 2px solid black;
  margin:2px;
  padding:2px;
}