nav ul li{
	margin-bottom: 0em;
}

.navbar {
	min-height: 40px;
}

.navbar-nav > li > a {
	padding-top: 7px;
	padding-bottom: 7px;
}

body{
	background: url('../images/bg-body.jpg');
}

.navbar-inverse .navbar-nav > li.current_menu_class > a, .navbar-inverse .navbar-nav > li.menu_class > a:hover{
  color: red;
}

.navbar-inverse .navbar-nav > li.menu_class > a {
  color: black;
}

.navbar-inverse {
  background-color: #FFFFFF;
}

.main-content{
	background-color: white;
	padding: 20px;
  margin-left: .25%;
  margin-right: .25%;
}

.shrink{
  width: 66.0%;
}

form .prev, form .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
        form .prev:hover,form .next:hover { background-color:#000; text-decoration:none;}
        form .prev { float:left;}
        form .next { float:right;}
        #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
        #steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
        #steps li span {font-size:11px; display:block;}
        #steps li.current { color:#000;}

  .span5 center{
  	margin-left: 8.5%;
  	margin-top: 190px;
  }

  .row{
    margin-left: 0px;
    margin-right: 0px;

  }

  .main{
   background-image:  -webkit-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -moz-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -ms-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -o-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  linear-gradient(right bottom, #FFFFFF 0%, #FFDDAB 100%);
   margin-bottom: 5px;
    border-color: #9ecaed;
    box-shadow: 0 0 10px red;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .mybutton button{
    height: 33px;
    margin: 14px 241px;
    width: 307px;
  }


  
  .ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a{
  color:red;

} 

.ui-tabs .ui-tabs-nav li a{
font-weight: bold;  
font-size: 1.2em;
}

.buisness_listing_logo img{
  max-width:100%;
  max-height:150px;
}

 /*.business_listing_left{
  float: left;
  padding-left: 40px;
  width:25%;
  }*/

.main-block{
  /*color:red;*/
  border:5px solid #E9CBCB;
    padding-bottom: 10px;
      /*border-color: pink;*/
    box-shadow: 0 0 15px white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.header h2{
  color: red;
}

.info-title{
  color:red;
}
.main-block{

background: #9ecaed; /* Old browsers */
background-image:  -webkit-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -moz-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -ms-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -o-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  linear-gradient(right bottom, #FFFFFF 0%, #FFDDAB 100%); 
}
.main-block:hover{

background: rgb(245,246,246); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */

}

.top_ad_block_outer{
  /* fixed position a zero-height full width container */
    position: fixed;
    top: 40px; /* or whatever position is desired */
    left: 0;
    right: 0;
    height: 120px;
    padding-top: 8px;
    width:100%;
    background: #7db9e8; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #7db9e8 0%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7db9e8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #7db9e8 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #7db9e8 0%,#1e5799 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #7db9e8 0%,#1e5799 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #7db9e8 0%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    /* center all inline content */
    text-align: center;
    z-index: 10;
}

.col{
  border-left: 2px solid lightgray;
  padding-right: 15px;
}
.top_ad_block_outer > div {
    /* make the block inline */
    display: inline-block;
    /* reset container's center alignment */
    text-align: left;
} 

.right-front-page-col{
/*margin-left:36.5% !important;*/
border-left: 5px solid black;
padding:7px 19px 2px 5px;
background-color:white;
border:10px solid burlywood;
box-shadow: 0 0 15px white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
border-radius:40px;

}

.atk-form-field ins{
  color:red !important;
}
.shine{
     background:burlywood;
  background:-moz-linear-gradient(top,burlywood 0%,burlywood 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,burlywood),color-stop(100%,burlywood));
  background:-webkit-linear-gradient(top,burlywood 0%,burlywood 100%);
  background:-o-linear-gradient(top,burlywood 0%,burlywood 100%);
  background:-ms-linear-gradient(top,burlywood 0%,burlywood 100%);
  background:linear-gradient(top,burlywood 0%,burlywood 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='burlywood',endColorstr='#burlywood',GradientType=0);
  padding:10px 20px;
  color:white;
  font-family:'comic-sans',comic-sans;
  font-size:20px;
  font-weight:bold;
  border:2px solid white;
 box-shadow: 0 0 15px white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*border-radius: 5px;*/
border-radius:40px;
}
.shine1{
     background: rgba(183,222,237,1);
background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(50%, rgba(113,206,239,1)), color-stop(51%, rgba(33,180,226,1)), color-stop(100%, rgba(183,222,237,1)));
background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0 );
  padding:10px 25px;
  color:white;
  font-family:'comic-sans',comic-sans;
  font-size:20px;
  font-weight:bold;
  border:2px solid white;
 box-shadow: 0 0 15px white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*border-radius: 5px;*/
border-radius:40px;
}

.shine1:hover{
  background: rgba(71,170,209,1);
background: -moz-linear-gradient(top, rgba(71,170,209,1) 0%, rgba(23,161,211,1) 50%, rgba(20,122,153,1) 51%, rgba(71,170,209,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71,170,209,1)), color-stop(50%, rgba(23,161,211,1)), color-stop(51%, rgba(20,122,153,1)), color-stop(100%, rgba(71,170,209,1)));
background: -webkit-linear-gradient(top, rgba(71,170,209,1) 0%, rgba(23,161,211,1) 50%, rgba(20,122,153,1) 51%, rgba(71,170,209,1) 100%);
background: -o-linear-gradient(top, rgba(71,170,209,1) 0%, rgba(23,161,211,1) 50%, rgba(20,122,153,1) 51%, rgba(71,170,209,1) 100%);
background: -ms-linear-gradient(top, rgba(71,170,209,1) 0%, rgba(23,161,211,1) 50%, rgba(20,122,153,1) 51%, rgba(71,170,209,1) 100%);
background: linear-gradient(to bottom, rgba(71,170,209,1) 0%, rgba(23,161,211,1) 50%, rgba(20,122,153,1) 51%, rgba(71,170,209,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47aad1', endColorstr='#47aad1', GradientType=0 );
  border:5px solid white;
 box-shadow: 0 0 15px white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*border-radius: 5px;*/
border-radius:40px;
}
.info_btn{  
background: rgba(164,179,87,1);
background: -moz-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
background: -webkit-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -o-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -ms-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: linear-gradient(to bottom, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=0 );
padding:10px 25px;
  color:white;
  font-family:'comic-sans',comic-sans;
  font-size:20px;
  font-weight:bold;
  border:2px solid white;
 box-shadow: 0 0 15px white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*border-radius: 5px;*/
border-radius:40px;
}