nav ul li{
	margin-bottom: 0em;
}

.navbar {
	min-height: 40px;
}

.navbar-nav > li > a {
	padding-top: 7px;
	padding-bottom: 7px;
}

body{
	background: url('../images/bg-body.jpg');
}

.current_menu_class{
  font-weight: bold;
  color: white;
  
}

.main-content{
	background-color: white;
	padding: 20px;
  margin-left: .25%;
  margin-right: .25%;
}

.shrink{
  width: 66.0%;
}

form .prev, form .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
        form .prev:hover,form .next:hover { background-color:#000; text-decoration:none;}
        form .prev { float:left;}
        form .next { float:right;}
        #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
        #steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
        #steps li span {font-size:11px; display:block;}
        #steps li.current { color:#000;}

  .span5 center{
  	margin-left: 8.5%;
  	margin-top: 190px;
  }

  .row{
    margin-left: 0px;
    margin-right: 0px;

  }

  .main{
   background-image:  -webkit-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -moz-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -ms-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -o-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  linear-gradient(right bottom, #FFFFFF 0%, #FFDDAB 100%);
   margin-bottom: 5px;
    border-color: #9ecaed;
    box-shadow: 0 0 10px red;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .mybutton button{
    height: 33px;
    margin: 14px 241px;
    width: 307px;
  }


  
  .ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a{
  color:red;

} 

.ui-tabs .ui-tabs-nav li a{
font-weight: bold;  
font-size: 1.2em;
}

.buisness_listing_logo img{
  max-width:100%;
  max-height:150px;
}

 /*.business_listing_left{
  float: left;
  padding-left: 40px;
  width:25%;
  }*/

.main-block{
  /*color:red;*/
  border:5px solid #E9CBCB;
    padding-bottom: 10px;
      /*border-color: pink;*/
    box-shadow: 0 0 15px white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.header h2{
  color: red;
}

.info-title{
  color:red;
}
.main-block{

background: #9ecaed; /* Old browsers */
background-image:  -webkit-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -moz-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -ms-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  -o-linear-gradient( right bottom, #FFFFFF 0%, #FFDDAB 100%);
   background-image:  linear-gradient(right bottom, #FFFFFF 0%, #FFDDAB 100%); 
}
.main-block:hover{

background: rgb(245,246,246); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */

}