<div id="<?$_name?>">
	<?$Content?>
	<div class="row">
		<div class="col-lg-4">
			<div><img src="sb24-addons/distance/templates/images/bybus.png" style="max-width:200px"></div>
			<div><h3>By Bus : <?distance_bus?>N/A<?/distance_bus?> Km</h3></div>
		</div>
		<div class="col-lg-4">
			<div><img src="sb24-addons/distance/templates/images/bytrain.png" style="max-width:200px"></div>
			<div><h3>By Train : <?distance_train?>N/A<?/distance_train?> Km</h3></div>
		</div>
		<div class="col-lg-4">
			<div><img src="sb24-addons/distance/templates/images/byplane.png" style="max-width:200px"></div>
			<div><h3>By Plane : <?distance_plane?>N/A<?/distance_plane?> Km</h3></div>
		</div>
	</div>
</div>