<div><h1>Distance</h1></div>
<div class="row">
<div class="col-lg-4">
	<div><img src="sb24-addons/distance/templates/images/bybus.jpg"></div>
	<div><h3>By Bus : <?distance_bus?>N/A<?/distance_bus?> Km</h3></div>
</div>
<div class="col-lg-4">
	<div><img src="sb24-addons/distance/templates/images/bytrain.png"></div>
	<div><h3>By Train : <?distance_train?>N/A<?/distance_train?> Km</h3></div>
</div>
<div class="col-lg-4">
	<div><img src="sb24-addons/distance/templates/images/byplane.jpeg"></div>
	<div><h3>By Plane : <?distance_plane?>N/A<?/distance_plane?> Km</h3></div>
</div>
</div>