<div id="<?$_name?>" class="cap">
	<?$Content?>
	<div class="row">
		<div class="col-lg-" align="center">
			<div><img src="sb24-addons/distance/templates/images/bybus.png" style="max-width:200px"></div>
			<div><div style="margin:5px" class="info_btn">By Bus</div><div class='info_btn'><?distance_bus?>N/A<?/distance_bus?> Km</div></div>
		</div>
		<div class="col-lg-" align="center">
			<div><img src="sb24-addons/distance/templates/images/bytrain.png" style="max-width:200px"></div>
			<div><div style="margin:5px" class="info_btn">By Train</div><div class='info_btn'> <?distance_train?>N/A<?/distance_train?> Km</div></div>
		</div>
		<div class="col-lg-" align="center">
			<div><img src="sb24-addons/distance/templates/images/byplane.png" style="max-width:200px"></div>
			<div><div style="margin:5px" class="info_btn">By Plane</div><div class='info_btn'><?distance_plane?>N/A<?/distance_plane?> Km</div></div>
		</div>
	</div>
</div>