<div id="<?$_name?>" class="cap xyz1">
	<?rows?>
	<?row?>
	<div class="ui-widget-content ui-corner-all main-block">
		<div class=" row ui-widget-content header">
		<div class="col-sm-9 company_name"><h2><img src='<?$place_type_icon?>' width='50px' height='50px'/><?name?>Place Name<?/name?></h2></div>
		<div class="col-sm-1 shine1" onclick="<?$more?>">More</div>
		</div>
		<div class="row main-block-body">
			<div class="buisness_listing_logo col-sm-4" >
				<div  class="well" align="center"><img src="<?$place_image?>" alt="Place Picture Here "/></div>
			</div>
	<div class="col-sm-8" >
		<div class="row">
			<div class="col-sm-12" >
				<div class="row">
					<div class="col-sm-4 info-title">State</div>
					<div class="col-sm-8 info-vlaue"><?state?>state<?/state?></div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">City</div>
					<div class="col-sm-8 info-vlaue"><?city?>city<?/city?></div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">Area</div>
					<div class="col-sm-8 info-vlaue"><?area?>area<?/area?></div>
				</div>		
				<div class="row">
					<div class="col-sm-4 info-title">About</div>
					<div class="col-sm-8 info-vlaue"><?short_description?>short_description <?/short_description?></div>
				</div>
				</div>
			</div>
		</div>
		</div>

	</div>
	<?/row?>
	<?/rows?>
<?$paginator?>
<?not_found?>
    <div class="atk-grid-notfound ui-state-highlight ui-corner-all clearfix"><i class="ui-icon ui-icon-alert float-left"></i><?not_found_message?>No Records Found<?/?></div>
  <?/not_found?>
</div>