<div id="<?$_name?>" class="xyz">
	<?rows?>
	<?row?>
	<div class="ui-widget-content ui-corner-all main-block">
		<div class=" row ui-widget-content header">
		<div class="col-sm-9 company_name"><h2><?name?>Company Name<?/name?></h2></div>
		<div class="col-sm-2 btn btn-primary" onclick="<?$more?>">More <?$Relevance?></div>
		</div>
		<div class="row main-block-body">
			<div class="buisness_listing_logo col-sm-4" >
				<div  class="well" align="center"><h1><img src="<?$company_logo?>" alt="Your Company Logo "/></h1></div>
			</div>
	<div class="col-sm-8" >
		<div class="row">
			<div class="col-sm-12" >
				<div class="row">
					<div class="col-sm-4 info-title">Post</div>
					<div class="col-sm-8 info-vlaue"><?post?>post<?/post?></div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">No Of Post</div>
					<div class="col-sm-8 info-vlaue"><?no_of_post?>no_of_post<?/no_of_post?></div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">Minimum Experience</div>
					<div class="col-sm-8 info-vlaue"><?min_experience?>min_experience<?/min_experience?></div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">Minimum Package</div>
					<div class="col-sm-8 info-vlaue"><?min_package?>min_package<?/min_package?></div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">Contact Person</div>
					<div class="col-sm-8 info-vlaue"><?contact_person?>contact_person<?/contact_person?>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 info-title">Contact Number</div>
					<div class="col-sm-8 info-vlaue"><?contact_number?>contact_number<?/contact_number?>
					</div>
					<div class="row">
					<div class="col-sm-4 info-title">Address</div>
					<div class="col-sm-8 info-vlaue"><?address?>address<?/address?>
					</div>
				</div>
				
				</div>
			</div>
		</div>
		</div>
		</div>

	</div>
	<?/row?>
	<?/rows?>
<?$paginator?>
</div>