<style type="text/css">
	.buisness_listing_logo img{
		width:150px;
		height:80px;
	}
	.buiness_listing_company_name h2{
		text-align: center;

	}
	.business_listing_left{
	float: left;
	padding-left: 40px;
	width:25%;
	}

</style>



<div id="<?$_name?>">
	<?rows?>
	<?row?>
	<div class="ui-widget-content ui-corner-all">
		<div class=" row ui-widget-content ">
		<div class="col-sm-9"><h2><?name?>Event<?/name?></h2></div>
		<div class="col-sm-1 btn btn-primary" onclick="<?$more?>">More <?$Relevance?></div>
		<div class="col-sm-2 btn btn-primary" onclick="<?$register?>"><?register_label?>Register<?/register_label?></div>
		</div>
		<div class="row">
			<div class="buisness_listing_logo col-sm-4" >
				<div  class="well" align="center"><img src="<?$event_picture?>"/></div>
			</div>
			<div class="buisness_listing_labal col-sm-4" >
				<div>Event Date :</div>
				<div>Event Venu :</div>
				<div>Last Registration Date :</div>
			</div>
			<div class="buisness_listing_value col-sm-4">
				<div><?event_date?>event_date<?/event_date?></div>
				<div><?event_venue?>event_venue<?/event_venue?></div>
				<div><?registration_last_date?>registration_last_date<?/registration_last_date?></div>
			</div>
		</div>

	</div>
	<?/row?>
	<?/rows?>
<?$paginator?>
</div>