<div id="<?$_name?>" class="cap">
	<?rows?>
	<?row?>
	<div class="ui-widget-content ui-corner-all main-block">
		<div class=" row ui-widget-content header">
			<div class="col-sm-8 company_name"><h2><?name?>Company Name<?/name?></h2></div>
			<div class="col-sm-1 btn shine1" onclick="<?$more?>">More </div>
			<div class="col-sm-3 btn shine1" onclick="<?$register?>"><?register_label?>Register<?/register_label?> </div>
		</div>
		<div class="row main-block-body">
			<div class="buisness_listing_logo col-sm-4" >
				<div  class="well" align="center"><h1><img src="<?$event_picture?>" alt="Your Event Picture "/></h1></div>
			</div>
			<div class="col-sm-8" >
				<div class="row">
					<div class="col-sm-12" >
						<div class="row">
							<div class="col-sm-4 info-title">Event Date</div>
							<div class="col-sm-8 info-vlaue"><?event_date?>N/A<?/event_date?></div>
						</div>
						<div class="row">
							<div class="col-sm-4 info-title">Event venu</div>
							<div class="col-sm-8 info-vlaue"><?event_venue?>N/A<?/event_venue?></div>
						</div>
						<div class="row">
							<div class="col-sm-4 info-title">Last Registration Date</div>
							<div class="col-sm-8 info-vlaue"><?registration_last_date?>N/A <?/registration_last_date?></div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
<?/row?>
<?/rows?>
<?$paginator?>
<?not_found?>
    <div class="atk-grid-notfound ui-state-highlight ui-corner-all clearfix"><i class="ui-icon ui-icon-alert float-left"></i><h3><?not_found_message?>No Records Found<?/?></div>
  <?/not_found?></h3>
</div>